.flex-wrap-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}


.configuration-container {
    flex-grow: 1;
}

.board-container {
    flex-grow: 2;
}

.history-controls {
    background-color: dimgrey;
}

.history-button {
    font-size: 3em;
    margin: 1vh;
}

.captures-status {
    font-size: 2em;
}

.game-warning {
    z-index: 100;
    position: absolute;
    top: 40%;
    color: red;
    background: dimgray;
    width: 100%;
    text-align: center;
}

@media only screen and (max-device-width : 767px) {
    #captures-panel-side {
        display: none;
    }
}

@media only screen and (min-device-width : 768px) {
    #captures-panel-above {
        display: none;
    }
}
