/*
    Copy and refactor-pasta: https://codyhouse.co/gem/css-slide-in-panel
*/

.configuration-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: visibility 0s .6s;
    transition: visibility 0s 0.6s;
}

.configuration-panel.configuration-panel--is-visible {
    visibility: visible;
    transition: visibility 0s 0s;
}

.configuration-panel__header {
    /*...*/
    position: fixed;
    top: 0;
    width: 70%;
    height: 5em;
    transition: transform 0.3s 0s;
    transform: translateY(-50px);
    background: #ED64DA;
    color: #262626;
}

.configuration-panel--from-right .configuration-panel__header {
    right: 0;
}

.configuration-panel--from-left .configuration-panel__header {
    left: 0;
}

.configuration-panel--is-visible .configuration-panel__header {
    transition: transform 0.3s 0.3s;
    transform: translateY(0px);
}

.configuration-panel__container {
    /*...*/
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    transition: transform 0.3s 0.3s;
    background: #6495ED;
    color: #262626;
    margin-top: 5em;
}

.configuration-panel--from-right .configuration-panel__container {
    right: 0;
    transform: translate3d(100%, 0, 0);
}

.configuration-panel--from-left .configuration-panel__container {
    left: 0;
    transform: translate3d(-100%, 0, 0);
}

.configuration-panel--is-visible .configuration-panel__container {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
}

.configuration-panel__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 2em;
}

.title-tab {
    position: absolute;
    right: 0;
    background: #ED64DA;
    color: #262626;
    padding: 1em;
}

.title-tab-rotate {
    -moz-transform-origin: 6em 1em;
    -webkit-transform-origin: 6em 1em;
    transform-origin: 6em 1em;

    -ms-transform: rotate(-90deg); /* IE 9 */
    -moz-transform: rotate(-90deg); /* Firefox */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -o-transform: rotate(-90deg); /* Opera */
    transform: rotate(-90deg);
}